<div class="rounded-xl shadow-lg p-5 mb-6">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="md:col-span-3">
      <label class="block text-sm font-medium text-gray-700 mb-2"
        >🔍 Búsqueda Global</label
      >
      <div class="relative">
        <input
          pInputText
          [ngModel]="globalFilter"
          (ngModelChange)="globalFilterChange.emit($event)"
          type="text"
          placeholder="Buscar alumno, grupo, matrícula..."
          class="w-full"
        />
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-2"
        >📊 Estatus</label
      >
      <p-select
        class="w-full"
        [ngModel]="estatusFilter"
        (ngModelChange)="estatusFilterChange.emit($event)"
        [options]="estatuses"
      >
      </p-select>
    </div>
  </div>

  <div class="flex justify-end gap-3 mt-4">
    <button
      class="px-4 py-2 text-gray-600 border border-gray-300 rounded-lg hover:bg-gray-50"
      (click)="globalFilter = ''; estatusFilter = null; loadTable.emit()"
    >
      Limpiar Filtros
    </button>
    <button
      class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
      (click)="loadTable.emit()"
    >
      Aplicar Filtros
    </button>
  </div>
</div>

<div class="bg-white rounded-xl shadow-lg p-6">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-bold text-gray-800">📝 Grupos Resgistrados</h2>
    <span class="text-sm text-gray-500" *ngIf="cicloEscolar">
      Mostrando docentes del ciclo {{ cicloEscolar!.nombre_ciclo }}
    </span>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
  >
    <div *ngFor="let grupo of docentesData?.results" class="h-full w-full">
      <app-docente-summary-card
        [docente]="grupo"
        (onHorarioDetailClick)="onHorarioDetailClick.emit($event)"
      ></app-docente-summary-card>
    </div>
    <div
      *ngIf="docentesData?.results?.length === 0"
      class="col-span-full flex flex-col items-center justify-center p-8 text-center mt-4"
    >
      <div class="mb-4 text-blue-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-16 w-16 mx-auto"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
          />
        </svg>
      </div>
      <h3 class="text-xl font-semibold text-gray-700 mb-2">No hay grupos</h3>
      <p class="text-gray-500 max-w-md">
        Aún no tienes ningun grupo registrado. Cuando tengas grupos, aparecerán
        aquí.
      </p>
    </div>
  </div>

  <div class="flex justify-center mt-8">
    <p-paginator
      [first]="docentesData?.offset || 0"
      [rows]="10"
      (onPageChange)="loadTable.emit($event)"
      [totalRecords]="docentesData?.count"
      [rowsPerPageOptions]="[10, 20, 30]"
    />
  </div>
</div>
