<div
  class="w-full h-full border border-gray-200 rounded-xl p-4 hover:shadow-md transition-shadow flex flex-col"
>
  <div class="flex justify-between items-start mb-3">
    <div>
      <h4 class="font-semibold text-gray-800">
        {{ grupo.nombre_grupo }}
      </h4>
      <p class="text-sm text-gray-600">
        {{ grupo.nivel }} - {{ grupo.anio_escolar }}
      </p>
    </div>
    <span
      [ngClass]="{
        'bg-green-100 text-green-800': grupo.estatus === 1,
        'bg-orange-100 text-orange-800': grupo.estatus === 2,
        'bg-red-100 text-red-800': grupo.estatus === 0
      }"
      class="px-2 py-1 text-xs rounded-full"
    >
      {{ grupo.estatus | defaultEstatusValue }}
    </span>
  </div>

  <div class="space-y-2 mb-4">
    <div class="flex items-center text-sm text-gray-600">
      <i class="pi pi-user mr-2"></i>
      <span>{{ grupo.docente.nombres || 'Sin docente asignado' }}</span>
    </div>
    <div class="flex items-center text-sm text-gray-600">
      <i class="pi pi-clock mr-2"></i>
      <span>{{ grupo.turno }}</span>
    </div>
    <div class="flex items-center text-sm text-gray-600">
      <i class="pi pi-users mr-2"></i>
      <span>Capacidad: {{ grupo.capacidad_maxima }} alumnos</span>
    </div>
    <div class="flex items-center text-sm text-gray-600">
      <i class="pi pi-star mr-2"></i>
      <span>{{ grupo.ciclo_escolar.nombre_ciclo || 'NA' }}</span>
    </div>
  </div>

  <div class="flex justify-end items-center mt-auto">
    <button
      (click)="onHorarioDetailClick.emit(grupo)"
      class="text-blue-500 hover:text-blue-700 text-sm flex items-center"
    >
      <i class="pi pi-calendar mr-1"></i>Horario
    </button>
  </div>
</div>